<launch>
        <!-- GPS -->
        <node name="nmea_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
                <param name="port" value="/dev/ttyHS1"/>
                <param name="baud" value="9600"/>
        </node>

        <!-- UART -->
        <node name="monarc_uart_driver_node" pkg="monarc_uart_driver" type="monarc_uart_driver_node">
                <param name="uart_port" value="/dev/ttyHS3"/>
                <param name="baud_rate" value="230400"/>
        </node>

        <!-- Depth Camera Nodes -->
        <node name="duo3d" pkg="duo3d_driver" type="duo3d_driver" output="screen">
                <rosparam param="image_size">[320, 240]</rosparam>
                <param name="frame_rate" value="30.0"/>
                <param name="gain" value="0"/>
                <param name="exposure" value="50"/>
                <param name="auto_exposure" value="true"/>
                <param name="vertical_flip" value="true"/>
                <param name="led" value="35"/>
        </node>
        <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc">
                <!-- <param name="approximate_sync" value="true"/> -->
                <param name="queue_size" value="10"/>
        </node>

        <!-- Mapping -->
        <node name="monarc_tf_node" pkg="monarc_tf" type="monarc_tf_node"/>
        <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
                <remap from="cloud_in" to="points2"/>
                <param name="base_frame_id" value="duo3d/camera_frame"/>
        </node>

        <!-- AutoPilot -->
        <!-- <node pkg="monarc_path_finder_node" pkg="monarc_path_finder" type="monarc_path_finder_node"/> -->
</launch>
