<launch>
	<!-- GPS -->
	<node name="nmea_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
		<param name="port" value="/dev/ttyHS1"/>
		<param name="baud" value="9600"/>
	</node>

	<!-- UART -->
	<node name="monarc_uart_driver_node" pkg="monarc_uart_driver" type="monarc_uart_driver_node">
                <param name="uart_port" value="/dev/ttyHS3"/>
        </node>

	<!-- Depth Camera Nodes -->
	<arg name="pi/2" value="1.5707963267948966" />
	<node pkg="tf" type="static_transform_publisher" name="duo3d_base_link" args="0 0 0 0 0 $(arg pi/2) /duo3d/camera_frame duo3d_camera 100" />
	<node name="duo3d" pkg="duo3d_driver" type="duo3d_driver" output="screen">
		<rosparam param="image_size">[320, 240]</rosparam>
		<param name="frame_rate" value="30.0"/>
		<param name="dense3d_license" value="5UA42-V8D5K-YOAK2-NUMTC-QJEJU"/>
		<param name="gain" value="0"/>
		<param name="exposure" value="50"/>
		<param name="auto_exposure" value="true"/>
		<param name="vertical_flip" value="true"/>
		<param name="led" value="35"/>
		<param name="processing_mode" value="1"/>
		<param name="image_scale" value="0"/>
		<param name="pre_filter_cap" value="8"/>
		<param name="num_disparities" value="7"/>
		<param name="sad_window_size" value="3"/>
		<param name="uniqueness_ratio" value="2"/>
		<param name="speckle_window_size" value="256"/>
		<param name="speckle_range" value="2"/>
	</node>
</launch>
